[Desktop Entry]
Name=SquidServers
Comment=Simple local Minecraft server hosting
Exec=squidservers %u
Terminal=false
Type=Application
Icon=com.squidservers.SquidServers
Categories=Game;Utility;
MimeType=x-scheme-handler/squidservers;
StartupWMClass=SquidServers
